*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.divTexte{
    margin: 75px;
}
.container{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 700px;
    height: 700px;
}
.container .box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
}